<html>
    <head>Please enter Employee details</head>

    <body>
        <form method="post" action="/predict">
            Age: <input  type="number" name="age"></br></br>
            BusinessTravel:	<input type ="text" name="bt"></br></br>
            DailyRate:	<input  type="number" name="dr"></br></br>
            Department:	<input  type="text" name="dept"></br></br>
            DistanceFromHome: <input  type="number" name="dfh"></br></br>
            Education: <input  type="number" name="edu"></br></br>
            EducationField:	<input  type="text" name="eduf"></br></br>
            EmployeeCount: <input  type="number" name="educ"></br></br>	
            EmployeeNumber: <input type="number" name="empno"></br></br>	
            EnvironmentSatisfaction: <input type="number" name="envsat"></br></br>
            Gender: <input type="text" name="gender"></br></br>
            HourlyRate: <input type="number" name="hr"></br></br>
            JobInvolvement: <input type="number" name="jobinv"></br></br>
            JobLevel: <input type="number" name="joblev"></br></br>
            JobRole: <input type="text" name="jobrol"></br></br>
            JobSatisfaction: <input type="number" name="jobsat"></br></br> 
            MaritalStatus: <input type="text" name="maristatus"></br></br> 
            MonthlyIncome: <input type="number" name="moninc"></br></br> 
            MonthlyRate: <input type="number" name="monrat"></br></br> 
            NumCompaniesWorked: <input type="number" name="numcomp"></br></br> 	
            Over18: <input type="text" name="over18"></br></br> 
            OverTime: <input type="text" name="overtime"></br></br> 	
            PercentSalaryHike: <input type="number" name="persalhike"></br></br> 	
            PerformanceRating: <input type="number" name="perrat"></br></br> 	
            RelationshipSatisfaction: <input type="number" name="relsat"></br></br> 	
            StandardHours: <input type="number" name="stahrs"></br></br> 	
            StockOptionLevel: <input type="number" name="stopt"></br></br> 
            TotalWorkingYears: <input type="number" name="twkhrs"></br></br> 
            TrainingTimesLastYear: <input type="number" name="tratim"></br></br> 	
            WorkLifeBalance: <input type="number" name="wrklifbal"></br></br> 
            YearsAtCompany: <input type="number" name="yrsatcomp"></br></br> 
            YearsInCurrentRole: <input type="number" name="yrsincurrole"></br></br> 
            YearsSinceLastPromotion: <input type="number" name="yrssinlasprom"></br></br> 	
            YearsWithCurrManager: <input type="number" name="yrswitcurman"></br></br> 
            <button>Predict</button>
        </form>
    </body>
</html>